.site-app-bar {
    /* background-color: #074023 !important; */
    margin-bottom: 0.2em;
    padding: 0.5em;

    background: #074023 10% !important;
}

.logo-size {
    width: 40px;
}

.logo-box {
    margin-right: 2em;
}

.course-menu-parent {
    display: flex;
    flex-grow: 1;
}

.course-menu {
    color: #fff !important;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.course-menu:hover {
    border: none;
    background: none;
    color: #FDBE25 !important;
}

.hidden {
    display: none !important;
}